*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f5ed;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Serif Pro', serif;
}

nav {
    padding: 20px 10%;
    height: 15vh;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 5%;
    font-weight: 600;
    cursor: pointer;
}
nav ul li img {
    width: 100px;
}
a {
    text-decoration: none;
    color: solid black;
}
a:hover{
    color: darkgreen;
}

/* Main Section */
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* left-Section */
.leftmain {
    width: 50%;
    padding: 7%;
}
.leftmain h1 {
    font-size: 60px;
}
.leftmain p{
    margin: 15px 0;
}
.leftmain button {
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
}
.leftmain button:hover {
    color: black;
    cursor: pointer;
}

/* right-section */
.rightmain {
    /* width: 60%; */
    padding: 7%;
}
.rightmain div img {
    width: 40%;
}  
.rightmain div img:first-child {
    margin-right: 5px;
}  
.rightmain div {
    margin-bottom: 5px;
}  
.rightmain > img {
    width: 10%;
}